# Exclude everything:
*

# Now un-exclude stuff we need
!.git*
!.github/*
!README.md

!base
!base/**/
!base/**/*.yaml

!envs
!envs/**/
!envs/**/*.yaml

!variants
!variants/**/
!variants/**/*.yaml

!.cursor/
!.cursor/**/
!.cursor/**/*.mdc