---
#------------------------------------------------------------------------------------------------------
#                       Purpose:
#------------------------------------------------------------------------------------------------------
# This file defines the Kustomize overlays for the 'uat' environment, customizing base resources.
# It modifies configurations specific to the 'uat' environment, such as the Ingress host and secrets.
#------------------------------------------------------------------------------------------------------
#           Checklist for developers using this Kustomization overlay
#------------------------------------------------------------------------------------------------------
# 1. Verify the `namespace` field is correctly set for the deployment.
# 2. Confirm the `newTag` matches the desired container image version for 'uat'.
# 3. Update the `patches` to accurately reflect environment-specific changes:
#    - Ensure the `host` and `tls` entries match the domain for the 'uat' environment.
#    - Verify the `certificate-arn` references the correct AWS ACM certificate.
# 4. Validate additional `configmap.yaml` and `external-secrets-keys.yaml` patches are correct.
#------------------------------------------------------------------------------------------------------

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: example
nameSuffix: ""

resources:
  - ../../base
  - serviceaccount.yaml

components:
  - ../../variants/uat

images:
  - name: 7689...........dkr.ecr.eu-west-2.amazonaws.com/example/template
    newName: 7689...........dkr.ecr.eu-west-2.amazonaws.com/example/template
    newTag: "0.0.1"

patches:
  - target:
      kind: Ingress
      name: template
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: template.uat.example.myawesomedomain.com
      - op: replace
        path: /spec/tls/0/hosts
        value: [template.uat.example.myawesomedomain.com]
      - op: replace
        path: /metadata/annotations/alb.ingress.kubernetes.io~1certificate-arn
        value: arn:aws:acm:eu-west-2:7689..........:certificate/a73e3824-c82d-4456-922e-1d75564ba3be

  - path: configmap.yaml
  - path: external-secrets-keys.yaml
    target:
      kind: ExternalSecret
      name: template
